{% load static %}
<!doctype html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>The Maker Diploma</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'Landing/static/css/bootstrap.min.css'%}" rel="stylesheet">
 
    <!-- Custom Google Web Font -->
    <link href="{% static 'Landing/static/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
	
    <!-- Custom CSS-->
    <link href="{% static 'Landing/static/css/general.css'%}" rel="stylesheet">
	
	 <!-- Owl-Carousel -->
    <link href="{% static 'Landing/static/css/custom.css'%}" rel="stylesheet">
	<link href="{% static 'Landing/static/css/owl.carousel.css'%}" rel="stylesheet">
    <link href="{% static 'Landing/static/css/owl.theme.css'%}" rel="stylesheet">
	<link href="{% static 'Landing/static/css/style.css'%}" rel="stylesheet">
	<link href="{% static 'Landing/static/css/animate.css'%}" rel="stylesheet">	
	<!-- Magnific Popup core CSS file -->
	<link rel="{% static 'Landing/static/stylesheet'%}" href="css/magnific-popup.css"> 
	
	<script src="{% static 'Landing/static/js/modernizr-2.8.3.min.js'%}"></script>  <!-- Modernizr /-->

</head>

<body id="home">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status"></div>
	</div>
	
	<!-- FullScreen -->
    <div>
    	<video poster="http://fablab.waag.org/content/home/home_poster.jpg" autoplay loop muted preload   id="bgvid"  playsinline autoplay muted loop>
      		<source src="https://player.vimeo.com/external/153100779.hd.mp4?s=4b40becdd14dcee45ba6f36275e3bad83df056b3&profile_id=119">
   		 </video>

		<div class="col-md-4 text-center abcen wow fadeIn" style="background-color: rgba(189, 195, 199,0.9);">
				<img src="{% static 'Landing/static/img/logo2.png'%}" alt="">
		</div>
        
		<div class="col-xs-12 text-center abcen wow fadeIn">
			<div class="button_down "> 
				<a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"> <img class="img_scroll" src="{% static 'Landing/static/img/icon/circle.png'%}" alt=""> </a>
			</div>
		</div>
    </div>
	
	<!-- NavBar-->
	<nav class="navbar-default" role="navigation">
		<div class="container" >
			<div class="navbar-header" >
				<a class="navbar-brand" href="#home" style="padding: 0px;"> <img src="{% static 'Landing/static/img/logo2.png'%}" height="90px" > </a>
			</div>

			<div class="collapse navbar-collapse navbar-right navbar-ex1-collapse" style="padding-top: 10px;">
				<ul class="nav navbar-nav">
					
					<li class="menuItem"><a href="#whatis">What is?</a></li>
					<li class="menuItem"><a href="#useit">Use It</a></li>
					<li class="menuItem"><a href="#screen">Screenshot</a></li>
					<li class="menuItem"><a href="#credits">Credits</a></li>
					<li class="menuItem"><a href="#contact">Contact</a></li>
				</ul>
			</div>
		   
		</div>
	</nav> 
	
	<!-- What is -->
	<div id="whatis" class="content-section-b" style="border-top: 0">
		<div class="container">

			<div class="col-md-6 col-md-offset-3 text-center wrap_title" style="margin-right: 25%;">
				<h2>ABOUT</h2>
				<p class="lead" style="margin-top:10">
				</p>
				
			</div>

			<div style="margin-bottom: 50px;">
			<p style="text-align: center; font-size: 20px;">A 2-month training program designed to empower people with the knowledge required to take ideas from concept to prototypes, where participants go through the principles and practices affiliated with the art of making using digital fabrication and embedded solutions to build their ideas and using hardware/software project management techniques mixed with business skills to have faster iterations thus doing more in less time. We are adapting the horizontal approach in the diploma, thus the program was designed to offer the basics and fundamentals of different tracks, instead of going deep in one topic.</p>
				
			</div>
			

			<div class="col-sm-8 wow fadeInDown text-center">
				<div class="row">
				
					<div class="col-sm-3 wow fadeInDown text-center">
					  <img class="rotate" src="{% static 'Landing/static/img/icon/round.png'%}" alt="Generic placeholder image">
					  <h3>10</h3>
					  <p class="lead">Rounds </p>

					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
					  <img  class="rotate" src="{% static 'Landing/static/img/icon/applicant.png'%}" alt="Generic placeholder image">
					   <h3>113</h3>
					   <p class="lead">Applicants </p>
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
					  <img  class="rotate" src="{% static 'Landing/static/img/icon/graduate.png'%}" alt="Generic placeholder image">
					   <h3>103</h3>
						<p class="lead">Graduates </p>
					</div><!-- /.col-lg-4 -->
				</div><!-- /.row -->
				
				<div class="row">
				
					<div class="col-sm-3  wow fadeInDown text-center">
					  <img class="rotate" src="{% static 'Landing/static/img/icon/female.png'%}" alt="Generic placeholder image">
					  <h3>31</h3>
					  <p class="lead">Female Applicant</p>
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
					  <img  class="rotate" src="{% static 'Landing/static/img/icon/lecture.png'%}" alt="Generic placeholder image">
					   <h3>120</h3>
					   <p class="lead">Session</p>
					</div><!-- /.col-lg-4 -->
					
					<div class="col-sm-3 wow fadeInDown text-center">
					  <img  class="rotate" src="{% static 'Landing/static/img/icon/project.png'%}" alt="Generic placeholder image">
					   <h3>107</h3>
					 <p class="lead">Projects</p>
					</div><!-- /.col-lg-4 -->	
				</div><!-- /.row -->
			</div>
			<div class="col-sm-4 wow fadeInDown text-center" style="padding: 0px; padding-top: 50px;">
				  <img  src="{% static 'Landing/static/img/abt.png'%}" >
				</div><!-- /.col-lg-4 -->
		</div>
	</div>
	
	{% for i in rounds%}
	<!-- Use it -->
        <div id ="useit" class="content-section-a">
        <div class="container">
            <div class="row">
				<div class="col-md-12 pull-left wow fadeInRightBig">
                    <div id="timer" data-animated="FadeIn">
                		<p style="text-align: center; font-size: 50px"> Next Round</p>
		                <div id="days{{i.number}}" class="col-sm-2" style="text-align: center; border-radius:50%;border: 2px solid rgba(44, 62, 80,1.0);"></div>
		                <div id="hours{{i.number}}" class="col-sm-2" style="text-align: center; border-radius:50%;border: 2px solid rgba(44, 62, 80,1.0);"></div>
		                <div id="minutes{{i.number}}" class="col-sm-2" style="text-align: center; border-radius:50%;border: 2px solid rgba(44, 62, 80,1.0);"></div>
		                <div id="seconds{{i.number}}" class="col-sm-2 " style="text-align: center; border-radius:50%;border: 2px solid rgba(44, 62, 80,1.0);"></div>
		                <div class="col-sm-2" style="text-align: center; padding-top: 10px;">
		                	<img src="{% static 'Landing/static/img/logo2.png'%}">
		                </div>
            		</div>
            		
                </div>

            </div>
            <div class="row">
                	<p style="margin-left: 40%;"><a class="btn btn-embossed btn-primary" href="#" role="button">Register</a> 
					 <a class="btn btn-embossed btn-info" href="#" role="button">Visit Website</a></p>
                </div>
        </div>
    </div>
    <script type="text/javascript">
		var hamada{{i.number}} = new Date ({{i.startDate.year}},{{i.startDate.month}},{{i.startDate.day}});
	</script>
    {% endfor %}


	<!-- Screenshot -->
	<div id="screen" class="content-section-b">
        <div class="container">
          <div class="row" >
			 <div class="col-md-6 col-md-offset-3 text-center wrap_title ">
				<h2>Gallery</h2>
				<p class="lead" style="margin-top:0">Moments to remember</p>
			 </div>
		  </div>
		    <div class="row wow bounceInUp" >
              <div id="owl-demo" class="owl-carousel">
				
				<a href="{% static 'Landing/static/img/gallery/1.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/1.JPG'%}" alt="Owl Image">
					</div>
				</a>
				
               <a href="{% static 'Landing/static/img/gallery/2.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/2.JPG'%}" alt="Owl Image">
					</div>
				</a>
				
				<a href="{% static 'Landing/static/img/gallery/3.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/3.JPG'%}" alt="Owl Image">
					</div>
				</a>
				
				<a href="{% static 'Landing/static/img/gallery/4.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/4.JPG'%}" alt="Owl Image">
					</div>
				</a>
				
               <a href="{% static 'Landing/static/img/gallery/5.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/5.JPG'%}" alt="Owl Image">
					</div>
				</a>
				
				<a href="{% static 'Landing/static/img/gallery/6.JPG'%}" class="image-link">
					<div class="item">
						<img  class="img-responsive img-rounded" src="{% static 'Landing/static/img/gallery/6.JPG'%}" alt="Owl Image">
					</div>
				</a>
              </div>       
          </div>

          <div class="row">
                	<p style="margin-left: 45%;"><a class="btn btn-embossed btn-primary" href="#" role="button">See More</a> 
					</p>
                </div>

        	</div>


	</div>



	<!-- Featured -->
	<div class="content-section-a">
		<div class="container">
			<div class="col-md-12 text-center">
				<h2>Featured Makers</h2>
				<p class="lead" style="margin-top:0">The creative and amazing.</p>
			</div>

			<div class="col-ms-12 wow fadeIn text-center">
				<div class="row">
					<div class="col-sm-3 wow fadeIn text-center">
						<img src="{% static 'Landing/static/img/featured/1.JPG'%}" style="height: 100%; width: 100%">
						<h3> Ahmed Abdelfatah</h3>
					</div>

					<div class="col-sm-3 wow fadeIn text-center">
						<img src="{% static 'Landing/static/img/featured/1.JPG'%}" style="height: 100%; width: 100%">
						<h3> Ahmed Abdelfatah</h3>
					</div>

					<div class="col-sm-3 wow fadeIn text-center">
						<img src="{% static 'Landing/static/img/featured/1.JPG'%}" style="height: 100%; width: 100%">
						<h3> Ahmed Abdelfatah</h3>
					</div>

					<div class="col-sm-3 wow fadeIn text-center">
						<img src="{% static 'Landing/static/img/featured/1.JPG'%}" style="height: 100%; width: 100%">
						<h3> Ahmed Abdelfatah</h3>
					</div>
					
				</div>
				
			</div>
			
		</div>

		<div class="row">
                	<p style="padding-left: 47.5%; padding-top: 10px;">
					 <a class="btn btn-embossed btn-info" href="#" role="button">View All</a></p>
                </div>
		
	</div>

	
	<div  class="content-section-b ">
		<div class="container">
			<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2>Have a Question?</h2>
			 </div>
			<div class="col-md-6 col-md-offset-3 text-center">
				<div class="mockup-content">
						<div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
							<button type="button" onclick="window.location='http://www.google.com';"><span>Join Forums Now!</span></button>
							<div class="morph-content">
								<div>
									<div class="content-style-form content-style-form-4 ">
										<h2 class="morph-clone">Join Forums Now!</h2>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>	
			</div>>
		</div>
	</div>	
	
	<!-- Credits -->
	<div id="credits" class="content-section-a">
		<div class="container">
			<div class="row">
			
			<div class="col-md-6 col-md-offset-3 text-center wrap_title">
				<h2>Credits</h2>
				<p class="lead" style="margin-top:0">A special thanks to our partners.</p>
			 </div>
			 
				<div class="col-sm-6  block wow bounceIn">
					<div class="row">
						<div class="col-md-4 box-icon rotate"> 
							<i class="fa fa-desktop fa-4x "> </i> 
						</div>
						<div class="col-md-8 box-ct">
							<h3> Fab Lab Egypt </h3>
							<p> Lorem ipsum dolor sit ametconsectetur adipiscing elit. Suspendisse orci quam. </p>
						</div>
				  </div>
			  </div>
			  <div class="col-sm-6 block wow bounceIn">
					<div class="row">
					  <div class="col-md-4 box-icon rotate"> 
						<i class="fa fa-picture-o fa-4x "> </i> 
					  </div>
					  <div class="col-md-8 box-ct">
						<h3> U.S. Embassy </h3>
						<p> Nullam mo  arcu ac molestie scelerisqu vulputate, molestie ligula gravida, tempus ipsum.</p> 
					  </div>
					</div>
			  </div>
		  </div>
		</div>
	</div>
	
	
	
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-7">

          </div> <!-- /col-xs-7 -->

          <div class="col-md-5">
            <div class="footer-banner">
              <h3 class="footer-title">Fab Lab Egypt</h3>
              <ul>
                <li>Villa 35</li>
                <li>Steet 100-Maadi</li>
                <li>Cairo-Egypt</li>
                <li>201271007228</li>
                <li>12511</li>
              </ul>
              Visit us at: <a href="http://fablabegypt.com" target="_blank">Fab Lab Egypt</a>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'Landing/static/js/jquery-1.10.2.js'%}"></script>
    <script src="{% static 'Landing/static/js/bootstrap.js'%}"></script>
	<script src="{% static 'Landing/static/js/owl.carousel.js'%}"></script>
	<script src="{% static 'Landing/static/js/script.js'%}"></script>
	<!-- StikyMenu -->
	<script src="{% static 'Landing/static/js/stickUp.min.js'%}"></script>
	<script type="text/javascript">
	  jQuery(function($) {
		$(document).ready( function() {
		  $('.navbar-default').stickUp();
		  
		});
	  });
	
	</script>
	
	<!-- Smoothscroll -->
	<script type="text/javascript" src="{% static 'Landing/static/js/jquery.corner.js'%}"></script> 
	<script src="{% static 'Landing/static/js/wow.min.js'%}"></script>
	<script>
	 new WOW().init();
	</script>
	<script src="{% static 'Landing/static/js/classie.js'%}"></script>
	<!-- Magnific Popup core JS file -->
	<script src="{% static 'Landing/static/js/jquery.magnific-popup.js'%}"></script> 
	<script src="{% static 'Landing/static/js/soon/plugins.js'%}"></script>
    <script src="{% static 'Landing/static/js/soon/jquery.themepunch.revolution.min.js'%}"></script>
    <script src="{% static 'Landing/static/js/soon/custom.js'%}"></script>
</body>

</html>
